/* Laptop/Desktop */
@media screen and (min-width:769px){
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 22%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 56%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}

/* Ipad */
@media screen and (min-width:577px) and ( max-width:768px){
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
}

/* Phone */
@media screen and (max-width:576px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
* {
    margin: 0;
    padding: 0;
}
header {
    height: auto;
    background-color: rgb(255, 255, 255);
    border-bottom: 0.5px solid rgb(0, 0, 0);
}
header div {
    display: inline-block;
}
/* image and input search */
.image-facebook {
    height: 45px;
    border-radius: 50%; /* Cắt ảnh thành hình tròn */
    overflow: hidden; /* Đảm bảo nội dung bên trong không vượt qua đường viền */
    margin: 10px 5px 0px 15px;
}
.search {
    position: relative;
}
.custom-search-button svg {
    height: 23px;
    fill: rgb(51, 49, 49);
}
.custom-search-button {
    position: absolute;
    transform: translateY(-50%);
    top: 55%;
    padding-left: 18px;
}
.image-input input {
    position: absolute;
    padding: 17px 80px 15px 45px;
    border-radius: 35px;
    border: 0px solid black;
    background-color: rgb(241, 234, 234);
    bottom: 9%;
}
.image-input input::placeholder {
    width: 130%;
    font-size: 18px;
    color: rgb(51, 49, 49); /* Màu placeholder */
}
/* home ---> game  */
.header-center {
    position: absolute;
    left: 30%;
    padding-top: 10px;
    max-height: 100px;
}
.header-center svg {
    height: 30px;
    text-align: center;
    margin: 4px 20px;
    fill: rgb(51, 49, 49);
}
.header-center .home, .header-center .video, .header-center .market, .header-center .group, .header-center .game {
    padding: 33px 35px 7px 35px;
    margin: 0px 3px;
}
.header-center .home:hover , .header-center .video:hover, .header-center .market:hover, .header-center .group:hover, .header-center .game:hover {
    background-color: rgb(223, 217, 217);
    border-radius: 15px;
}
a {
    color: black;
    text-decoration: none; /* xóa gạch chân thẻ a */
}
/* menu --> user */
.header-right {
    position: absolute;
    right: 1%;
}
.header-right svg {
    height: 25px;
    text-align: center;
    fill: rgb(51, 49, 49);
    margin-top: 10px;
}
.menu, .messenger, .notification, .account {
    display: inline-block;
    width: 45px;
    height: 45px;
    overflow: hidden; /* Ẩn bất kỳ phần nào vượt qua kích thước đã định */
    background-color: rgb(241, 234, 234);
    text-align: center;
    border-radius: 50%;
    margin: 8px 2px;
}
.menu:hover, .messenger:hover, .notification:hover {
    background-color: rgb(223, 217, 217);
}
/* aside left top*/
.aside-left, .image-user > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.aside-left-top .aside-left svg, .aside-left-bottom .aside-left svg {
    width: 25px;
    height: 25px;
    fill: rgb(13, 94, 255);
}
.aside-left-top {
    size: 10px;
    padding: 10px;
    border-bottom: 1px solid rgb(157, 157, 157);
}
.aside-left-top .aside-left, .aside-left-bottom .aside-left {
    height: 50px;
    margin: 5px 5px;
    position: relative;
}
.aside-left-top .aside-left:hover, .aside-left-bottom .aside-left:hover {
    width: 100%;
    background-color: rgb(223, 217, 217);
    border-radius: 15px;
}

.aside-left-top .aside-left > span, .aside-left-bottom .aside-left > span {
    position: absolute;
    top: 10px;
    padding-left: 10px;
}
.aside-left-top .aside-left > span .text , .aside-left-bottom .aside-left > span .text{
    position: absolute;
    top: 5px;
    width: 400px;
    padding-left: 10px;
}
/* aside left bottom*/
aside.left {
    background-color: rgb(241, 234, 234);
    height: 900px;
    float: left;
}
.aside-left-bottom {
    size: 10px;
    padding: 10px;
}
.aside-left-bottom .aside-left-prv {
    padding-top: 7px;
}
.aside-left-bottom .aside-left-prv .shortcut {
    float: left;
    width: 150px;
    padding: 10px 0px;
    text-align: center;
    color: blue;
    border-radius: 5px;
    font-weight: 900;
    font-size: larger;
    color: rgb(48, 48, 48);
    position: relative;
}
.aside-left-bottom .aside-left-prv .edit {
    float: right;
    width: 100px;
    padding: 10px 0px;
    text-align: center;
    color: blue;
    border-radius: 5px;
    display: none;
}
.aside-left-bottom:hover .edit {
    display: block;
}
.edit:hover {
    background-color: rgb(223, 217, 217);

}
.aside-left-bottom .aside-left img {
    width: 30px;
    height: 30px;
}
.aside-left {
    clear: both;
}
.aside-left-top .text, .aside-left-bottom .text {
    font-weight: 600;
}
/* privacy teams */
.privacy:hover, .terms:hover, .advertising:hover, .adchoices:hover, .cookie:hover {
    text-decoration: underline;
}
.aside-left-terms {
    padding-top: 13.5em;
}
aside {
    overflow-x: hidden;
    overflow-y: scroll;
}
/* thanh cuộn */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(241, 234, 234);
  }
  
  ::-webkit-scrollbar-thumb {
    background: #a3a0a0; /* Color of the thumb/handle */
    border-radius: 5px; /* Radius of the thumb/handle */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #878484; /* Color of the thumb/handle on hover */
  }
/* aside right */
aside.right {
    float: right;
    height: 900px;
    background-color: rgb(241, 234, 234);
}
.aside-right > div {
    margin: 5px 3px;
}
.birthday-text, .contact-text, .community-online-text, .group-online-text {
    font-size: 22px;
    font-weight: 550;
    color: rgb(61, 60, 60);
    margin: 10px;
}
.birthday {
    padding: 10px 0px;
    position: relative;
    height: 85px;
}
.notifi-birthday svg {
    fill: rgb(13, 94, 255);
    margin-top: 10px;
}
.notifi-birthday > span {
    padding-left: 5px;
    font-size: 19px;
    position: absolute;
    top: 50px;
}
.notifi-birthday {
    padding-left: 10px;
}
.notifi-birthday:hover {
    background-color: rgb(223, 217, 217);
    border-radius: 15px;
    height: 70%;
    padding-bottom: 5px;
}

/* contact community group */
.contact {
    padding: 10px 0px;
}
.contact .contact-favicon {
    float: right;
}
.contact .contact-favicon svg {
    width: 25px;
    height: 25px;
    padding-left: 25px;
    padding-right: 10px;
}

.user-online, .community-online, .group-online {
    height: auto;
    position: relative;
    padding: 7px 0px 3px 0px;
}
.user-online:hover, .community-online:hover, .group-online:hover {
    background-color: rgb(223, 217, 217);
    border-radius: 15px;
    height: 70%;
}
.user-online-btn, .community-online-btn, .group-online-btn {
    padding-left: 10px;
}
.user-online img, .community-online img, .group-online img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.user-online .text, .community-online .text, .group-online .text {
    font-weight: bold;
    font-size: larger;
    padding-left: 10px;
    top: 16px;
    position: absolute;
}
svg {
    width: 25px;
    height: 25px;
}



main {
    background-color: rgb(241, 234, 234);
    float: left;
    height: 900px;

}

