body {
    background: white !important;
}
.account-left {
}
.account-left .user-box {
    padding-top: 2rem;
    padding-left: 5rem;
    letter-spacing: 1.5px;
}
.account-left .user-box:last-child {
    padding-top: 0.1rem;
    padding-left: 5rem;
    letter-spacing: 1.5px;
}
.account-left .user-box .user-box__title {
    padding: 10px 10px;
}
.account-left .user-box li {
    padding: 5px 10px;
}
.account-left .user-box li:hover {
    background-color: rgb(204, 204, 204);
    border-radius: 8px;
}
.account-left .user-box li a {
    color: black;
    font-size: 20px;
}
.account-left .user-box li a:hover {
    color: blue;
}


.account-right {
    padding-top: 2rem;
    padding-left: 50px;
}
.account-right p {
    font-size: 15px;
}
.account-right h2 {
    letter-spacing: 1.5px;
    font-size: 25px;
}
.account-right .accordion-body {
    padding-top: 0 !important;
}
hr {
    border-bottom: 4px solid rgb(163, 158, 158);
    background:rgb(163, 158, 158);
}
@media only screen and (min-width: 1300px) {
    .section-2 .discount-code {
        width: 26.6em !important;
    }
    .section-2 .code_copy > p {
        padding: 5px 15px !important;
    }
}

@media only screen and (min-width: 1200px) {
    .header .nav {
        display: block !important;
    }
    .header .collection {
        display: block !important;
    }
    .section-2 .discount-code {
        width: 32.7% !important;
        font-size: 12px !important;
    }
    .section-2 .code_copy > p {
        padding: 5px 10px !important;
        font-size: 10px !important;
    }
}

/* ipad */
@media only screen and (min-width: 1024px) { 
    .header .header-item {
        display: none;
    }
    .header .policy,
    .header .fanpage {
        display: none !important;
    }
    .header .product,
    .header .product_Sale {
        display: block;
    }
    /* voucher */
    .section-2 .discount-code {
        width: 32.6%;
        font-size: 10px;
    }
    .section-2 .code_copy > p {
        padding: 5px 10px;
        font-size: 8px !important;
    }
    .round-left, .round-right {
        width: 25px;
        height: 25px;
    }
    /* .section-3 */
    .section-3 .col-md-3 {
        width: 24.6%;
    }
    /* .section-4 */
    .section-4 .assured-list-content p {
        font-size: 14px !important;
    }
    /* .section-5 */
    .section-5 .branch_title {
        font-size: 22px;
    }
    .branch-content-2 .branch_title {
        text-align: center !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .footer {
        display: flex;
        flex-wrap: wrap;
    }
    .footer .content-1,
    .footer .content-2 {
        max-width: 50%;
        flex-basis: 50% !important;
    }
    .footer .content-3,
    .footer .content-4 {
        max-width: 50%;

        flex-basis: 50% !important;
    }
    
    /* .section-5 .branch_title {
        font-size: 22px;
    }
    
    footer .content-2 .footer-contact .address,
    footer .content-2 .footer-contact .email {
        font-size: 17px !important;
    }
    footer .content-2 .footer-contact .number {
        margin-top: 30px !important;
        margin-bottom: 10px !important;
        font-size: 17px !important;
    } */
    
}







@media only screen and (min-width: 1650px) {
    .header .header-left .nav {
        display: none;
    }
    .header .header-left .header-item {
        padding: 0.8rem;
        font-size: 20px !important;
    }
}
@media only screen and (min-width: 1400px) {
    /* voucher */
    .section-2 .discount-code {
        width: 32.8% !important;
        font-size: 16px !important;
    }
    .section-2 .code_copy > p {
        padding: 5px 17px !important;
        font-size: 12px !important;
    }
    .round-left, .round-right {
        width: 28px !important;
        height: 28px !important;
    }
}
@media only screen and (min-width: 1368px) {
    .header .header-left .nav {
        display: none;
    }
    .header .header-left .header-menu .header-item {
        display: block !important;
    }
    .header .header-left .header-item {
        padding: 0.8rem;
        font-size: 15px;
    }
    .search {
        top: 5px;
    }
    .header-menu .header-item, .header-right .header-item {
        padding: 0.4rem;
    }
    .count {
        right: 1.25em;
        top: 1em;
    }
    /* voucher */
    .section-2 .discount-code {
        width: 28.1em;
        font-size: 13px ;
    }
    .section-2 .code_copy > p {
        padding: 5px 15.5px;
        font-size: 9px;
    }
    .round-left, .round-right {
        width: 25px;
        height: 25px;
    }
    .section-5 .branch_title {
        font-size: 22px;
    }
    .branch-content-2 .branch_title {
        text-align: center !important;
        padding-left: 0;
        padding-right: 0;
    }
}
@media only screen and (min-width: 1024px) {
    .header .header-left .header-menu .header-item:first-child,
    .header .header-left .header-menu .header-item:nth-child(2),
    .header .header-left .header-menu .header-item:nth-child(4) {
        display: block;
    }
    .header .header-left .header-menu .header-item {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .header .header-left .header-menu .header-item:first-child,
    .header .header-left .header-menu .header-item:nth-child(2) {
        display: block;
    }
    .header .header-left .header-menu .header-item {
        display: none;
    }
    .section-2 .discount-code {
        width: 32.2em;
        font-size: 7px ;
    }
    .section-2 .code_copy > p {
        padding: 5px 15.5px;
        font-size: 4px;
    }
    .section-2 .col-md-4 {
        padding: 0px 6px;
    }
    .section-2 .code_price {
        border-right: 1px solid black;
    }
    .section-2 .discount-code {
        border-top: 2px solid black;
    }
    .round-left, .round-right {
        width: 23px;
        height: 20px;
    }
    .section-3 .col-md-3 {
        width: 24.5%;
    }
    .section-3 .product_text {
        padding: 10px;
        font-size: 11px;
    }
    .section-3 .product_text .price {
        font-size: 17px;

    }
    .section-3 .market img {
        margin: 5px;
        width: 15px;
        height: 15px;
    }
}