@import url("https://fonts.googleapis.com/css?family=Axme|Lobster|Patua+One|Rubik|Sniglet");
* {
    box-sizing: border-box;
}
:root {
    --bggradient: linear-gradient(to bottom, #dd2476, #ff512f);
    --sniglet-font: "siglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "Lobster", cursive;
}
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: var(--Patua);
    background-color: #e4e6e9;
}
/* header */
.header {
    display: flex;
    font-size: x-large;
    background-color: #180f8a;
    color: white;
    position: fixed;
    z-index: 2;
}
/* header-left */
.header-left {
    /* flex-basis: 70%; */
}
.header-menu {
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-left: 1rem;
    position: relative;
}
.header-menu .header-item, .header-right .header-item {
    height: 100%;
    padding: 0.8rem;
}
.header-menu li {
    list-style: none;
    clear: both;
}

.product_menu, .fa-angle-up {
    display: none;
}
.product_menu {
    padding: 0px;
}
.product_menu > li {
    padding: 15px 15px;
}
.header a {
    color: white;
    text-decoration: none;
}
/* hover */
.header-menu .header-item:hover,
.header-menu .product_menu > li:hover {
    background: #1b55e2;
    transition: background-color 0.3s;
}
.header-menu .product:hover .product_menu,
.header-menu .product_Sale:hover .product_menu,
.header-menu .collection:hover .product_menu {
    min-width: 10em;
    width: auto;
    display: block;
    position: absolute;
    top: 100%;
    margin-left: -0.9em;
    background-color: #180f8a;
    border-top: 2px dashed #ff512f;
    z-index: 999;
    opacity: 0.9;
}
.header-menu .product:hover .fa-angle-down,
.header-menu .product_Sale:hover .fa-angle-down,
.header-menu .collection:hover .fa-angle-down {
    display: none;
}
.header-menu .product:hover .fa-angle-up,
.header-menu .product_Sale:hover .fa-angle-up,
.header-menu .collection:hover .fa-angle-up {
    display: block;
    display: inline-flex;
}
/* header-right */
.search {
    position: relative;
    width: 50%;
}
.search input[type="text"] {
    width: calc(100% - 30px);
    max-width: 100%;
    border-radius: 10px;
    height: 40px;
    padding: 7px 30px 7px 15px;
    border: 2px solid black;
}
.search span {
    font-size: 17px;
    position: absolute;
    top: 50%;
    right: 55px;
    transform: translateY(-50%);
    color: black;
    padding-left: 10px;
    border-left: 2px solid rgb(133, 127, 127);
}
.search > input:hover {
    border: 2px solid #1b55e2;
}
.search span:hover {
    color: red;
    border-left: 2px solid red;
}
.header-right .header_login,
.header-right .header_cart,
.header-right .search {
    display: flex;
}
.header_login > button {
    background: none;
    color: white;
    font-weight: 600;
    padding-left: 5px;
}
.header_login > button:hover {
    color: #5f8af7;

}
.header-right .header-item > div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}
.header-right .header-item > div:hover {
    background: #1b55e2;
}

.header_cart,
.header_login {
    position: relative;
}
.count {
    position: absolute;
    right: 1.65em;
    top: 1.3em;
    font-size: 17px;
    color: #da340b;
}
svg {
    justify-content: center;
    fill: white;
    width: 28px;
    height: 28px;
} 
/* main */
.carousel-control-next-icon, 
.carousel-control-prev-icon {
    background-size: 20px;
}
.background:hover {
    padding: 25px;
    background-color: rgb(3, 3, 3);
    border-radius: 50%;
}
.box-shadow {
    position: absolute;
    width: 100%;
    min-height: 15%;
    background-image: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0.5) 30%,
		#fff
        );
        z-index: 2;
        left: 0;
        bottom: 0;
}
.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: rgb(255, 255, 255) !important;
}
/* section-1 */
.section-1 .title-voucher {
    overflow: hidden; /* Ngăn chặn nội dung vượt ra khỏi phần tử cha */
    white-space: nowrap; /* Ngăn chặn nội dung xuống dòng */
}
.section-1 .title-voucher span {
    color: black;
}
.section-1 marquee {
    display: inline-block;
    font-weight: 100;
    color: red;
}
/* section-2 */
/* .section-2 {
    height: max-content;
    margin-bottom: 20px;
}
.discount-code {
    border-top: 3px solid black;
    background: rgb(255, 153, 0);
    height: max-content;
    overflow: hidden;
    position: relative; 
    max-height: 95px;
    width: 28%;
}
.discount-code:nth-child(2) {
    margin: 0 0.6rem;
}
.info-code {
    height: max-content;
    max-height: 95px;
}
.code_price {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 3px solid black;
    max-width: 76px;
}
.code_text {
    max-width: fit-content;
}
.code_text > li {
    list-style: none;
    max-width: fit-content;
}
.code_copy {
    display: flex;
    justify-content: center;
    align-items: center;
}
.code_copy > p {
    background: black;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid black;
    background-image: linear-gradient(to right, white 50%, black 50%);
    background-size: 200% 100%;
    background-position: right;
    font-size: 12px;
}
.code_copy > p:hover {
    background-color: white;
    color: black;
    background-position: left;
    transition: color 0.1s, background-color 0.9s, background-position 0.7s;
    z-index: 1;
} */
.container {
    display: flex;
    flex-wrap: wrap;
}
  
  .discount-code {
    border-top: 3px solid black;
    background: rgb(255, 153, 0);
    flex: 0 0 32%;
    margin-bottom: 1rem;
    width: auto;
    height: max-content; /* Chiều cao mặc định */
  }

  
 
  .info-code {
    display: flex;
  }
  
  .code_price {
    flex: 0 0 16.67%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 3px solid black;
  }
  
  .code_text {
    flex: 0 0 50%;
    margin-top: 0.5rem;
    list-style-type: none;
    padding: 10px;
    height: auto; /* Chiều cao tự động */
    

  }
  
  .code_text li:first-child {
    font-weight: bold;
  }
  
  .code_copy {
    width: auto;
    flex: 0 0 33.33%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.code_copy > p {
    width: auto;
    background: black;
    color: white;
    border-radius: 20px;
    border: 1px solid black;
    background-image: linear-gradient(to right, white 50%, black 50%);
    background-size: 200% 100%;
    background-position: right;
}
.code_copy > p:hover {
    background-color: white;
    color: black;
    background-position: left;
    transition: color 0.1s, background-color 0.9s, background-position 0.7s;
    z-index: 1;
}
  
.round-left, .round-right {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
}
.round-left {
    left: -1rem;
}
.round-right {
    right: -1rem;
}
/* section-3 */
.section-3 {
    margin-bottom: 20px;
}
/* .dec {
    
    display: flex;
    flex-wrap: wrap;
    padding: 0 !important;
    margin: 0 !important;
    height: 1500px;
} */
.section-3 .product {
    width: 366px;
    height: max-content;
    margin-bottom: 20px;
    padding: 0 !important;
    overflow: hidden;
    background: white;
    border: 1px solid white;
}
.section-3 .product:nth-child(1n+1) {
    margin-left: 0 !important;
}
/* .section-3 .product:last-child {
    margin-left: 3px !important
} */
.section-3 .product:nth-child(1) {
    margin-left: 0 !important;
}
.section-3 .product:nth-child(4n) {
    margin-right: 0 !important;
}
.section-3 .product_info {
    padding: 0;
    background: rgb(170, 155, 155);
}

.section-3 .product_image {
    transition: transform 0.5s ease;
}
.section-3 .product_image img {
    width: 100%;
    max-height: 400px;
    opacity: 0.95;
}

.section-3 .product_text {
    padding: 25px;
    font-size: 20px;
    background-color: white;
    position: relative;
}
.section-3 .product_text .title {
    letter-spacing: 0.5px;
    font-family: var(--Rubik);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
.section-3 .product_text .price {
    font-size: 25px;
    padding-right: 10px;
}
.section-3 .product_text .price_sale {
    color: #ff512f;
}
.section-3 .product_text .price_cost {
    color: #939393;
}
/* hover */
.section-3 .product:hover {
    border: 1px solid black;
}
.section-3 .product:hover .product_image {
    opacity: 0.9;
    transform: scale(1.1);
}
.section-3 .col-md-3 {
    width: 24.7%;
}
/* sale-favourite */
.section-3 .sale_percent {
    position: absolute;
    border: 1px solid rgb(228, 218, 218);
    width: max-content;
    color: #ff512f;
    z-index: 1;
    padding: 3px 7px;
    top: 0.5rem;
    left: 0.5rem;
}
.section-3 .favourite {
    position: absolute;
    width: max-content;
    padding: 3px 7px;
    top: 0.5rem;
    right: 0.5rem;
    color: rgb(151, 147, 147);
    z-index: 1;
    font-size: 22px;
}
.section-3 .favourite:hover {
    color: #ff512f;
}

/* market */
.section-3 .market {
    background: rgb(209, 206, 206);
    border-radius: 50%;
}
.section-3 .market img {
    margin: 7px;
    width: 25px;
    height: 25px;
}
.section-3 .market {
    position: absolute;
    bottom: 1.7rem;
    right: 1.5rem;
}
.section-3 .market:hover {
    border: 0.1rem solid black;
}
/* see-more */
.section-3 .see-more .text {
    background-color: black;
    width: max-content;
    color: white;
    border-radius: 10px;
    margin-bottom: 0 !important;
    border:  1px solid black;
    font-size: 20px;
    background-image: linear-gradient(to right, white 50%, black 50%);
    background-size: 200% 100%;
    background-position: right;
}
.section-3 .see-more .text > p {
    margin-bottom: 0 !important;
    padding: 8px 23px;
}
.section-3 .see-more .text:hover {
    color: black;
    background-color: #fff;
    border: 1px solid black;
    background-position: left;
    transition: color 0.1s, background-color 0.8s, background-position 0.7s;
    z-index: 1;
}
.section-3 .see-more {
    padding: 0 !important;
}
.section-3 .see-more-product {
    display: none;
    padding: 0 !important;
}
/* section-4 */
/* .section-4 > div {
    width: 370px;
} */
.section-4 {
    height: 666px;
}
.section-4 .assured {
    max-width: 370px;
    max-height: 370px;
}
.section-4 .assured-list-item {
    width: 100%;
    height: 370px;
}
.section-4 .assured-list-content {

}
/* .section-4 {
    height: max-content;
    background: #fff;
}

.section-4 .assured {
    height: max-content;
    position: relative;
}


.section-4 i {
    position: absolute;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(209, 204, 204);
    border-radius: 50%;
    top: 70%; 
    right: 41.5%;
    transform: translateX(-50%); 
} */





/* section-5 */
.section-5 {
    background-color: white;
}
.section-5 .container {
    position: relative;
}
.branch_title {
    letter-spacing: 1.5px;
    padding-right: 5em;
}
.branch_title > div {
    padding-bottom: 20px;
}
.branch_image-1,
.branch_image-3 {
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.branch_image-2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 40%;
}
.branch_image-2 img {
    width: 100%;
    height: 100%;
}
.branch-content-2 .branch_info {
    position: absolute;
    top: 5em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.branch-content-2 .branch_title {
    text-align: center !important;
    padding-left: 5em;
    padding-right: 5em;
}
/* Thiết lập định dạng cho phần fefev */
.fefev {
    position: absolute;
    top: 46px;
    right: 41%;
    width: 50px;
    height: 35px;
    background: linear-gradient(#78AB46, #fff);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    transform: rotate(10deg);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.branch_text {
    font-size: 18px;
}



/* footer */
.footer {
    flex-wrap: wrap;
}
footer .footer-title {
    font-size: 25px;
    letter-spacing: 0.02em;
    padding: 15px 0px;
    line-height: 30px;
}
footer .footer-content {
    font-size: 15px;
}
footer .footer-content-item, 
footer .footer-bank {
    font-size: 19px;
}
.footer-title p {
    font-weight: bold;
}
/* content-1 */
footer .content-1 .footer-social-network i {
    color: black;
}
footer .content-1 .footer-social-network .facebook,
footer .content-1 .footer-social-network .instagram,
footer .content-1 .footer-social-network .tiktok {
    width: 50px;
    height: 50px;
    border: 1px solid #a19c9c;
    border-radius: 7px;
    margin-right: 10px;
}
footer .content-1 .footer-social-network .facebook:hover,
footer .content-1 .footer-social-network .instagram:hover,
footer .content-1 .footer-social-network .tiktok:hover {
    border: 1px solid black;
}
/* content-2 */
footer .content-2 .footer-contact {
    font-size: 19px;
}
footer .content-2 i,
footer .content-4 i {
    font-size: 30px;
}
footer .content-2 .footer-contact .number {
    padding: 1rem 0;
}
footer .content-2 .footer-contact > div {
    position: relative;
}
footer .content-2 span {
    padding-left: 7px;
    position: absolute;
}
/* content-4 */
footer .content-4 i {
    color: rgb(173 10 81);
    width: 45px;
    height: 35px;
}



@media only screen and (max-width: 490px) {
    /* section-2 */
    .discount-code {
        flex: 0 0 100%;
        width: 100%;
        margin-top: 0.2rem;
        overflow: hidden;
        font-size: 12px !important;
    }
    .info-code {
        padding-right: 20px;
    }

    .code_price {
        min-width: 80px;
        padding-right: 20px;
    }
    .code_text {
        padding: 0 20px;
    }
    .code_copy {
        font-size: 4vmin;
    }
    .code_copy > p {
        padding: 5px 10px;
        font-size: 8px !important;
    }   
    /* footer */
    footer .footer-title {
        padding-top: 15px;
        padding-bottom: 0;
    }
    footer .content-2 .footer-contact .number {
        padding-top: 2rem !important;
    }
}
@media only screen and (max-width: 576px) {
    .header .header-right .search {
        display: none !important;
    }
    /* section-2 */
    .discount-code {
        flex: 0 0 100%;
        width: 100%;
        margin-top: 0.2rem;
        overflow: hidden;
        font-size: 17px;
    }
    .info-code {
        padding-right: 20px;
    }
    
    .code_price {
        min-width: 80px;
        padding-right: 20px;
    }
    .code_text {
        padding: 0 20px;
    }
    .code_copy {
        font-size: 4vmin;
    }
    .code_copy > p {
        padding: 5px 10px;
        font-size: 13px;
    }
     /* footer */
     footer .footer-title {
        padding-top: 15px;
        padding-bottom: 0;
    }
    footer .content-2 .footer-contact .number {
        padding-top: 1rem;
    }
    
}
@media only screen and (min-width: 576px) {
    .header {
        position: relative;
    }
    .header .header-left .header-item:first-child {
        display: block;
    }
    .header .header-left .header-item {
        display: none;
    }
    .header_login > button {
        font-size: 18px;
    }
    .header-right {
        position: absolute;
        right: 0;
    }
    /* section-2 */
    .discount-code {
        flex: 0 0 100%;
        width: 100%;
        margin-top: 0.2rem;
        overflow: hidden;
        font-size: 17px;
    }
    .info-code {
        padding-right: 20px;
    }
    
    .code_price {
        min-width: 80px;
        padding-right: 20px;
    }
    .code_text {
        padding: 0 20px;
    }
    .code_copy {
        font-size: 4vmin;
    }
    .code_copy > p {
        padding: 5px 16px;
        font-size: 14.2px;
    }

     /* footer */
     footer .footer-title {
        padding-top: 15px;
        padding-bottom: 0;
    }
    footer .content-2 .footer-contact .number {
        padding-top: 4rem;
    }
}
/* md */
@media only screen and (max-width: 768px) { 
    .header {
        position: relative;
    }
    .header .header-left .header-item:first-child {
        display: block;
    }
    .header .header-left .header-item {
        display: none;
    }
    .header_login > button {
        font-size: 18px;
    }
    .header-right {
        position: absolute;
        right: 0;
    }
    .header .header-right .search {
        display: block;
    }

    /* .section-1 */
    .section-1 p,
    .section-1 .marquee {
        font-size: 15px ;
    }

    /* footer */
    footer .footer-title {
        padding-top: 15px;
        padding-bottom: 0;
    }
    footer .content-2 .footer-contact .number {
        padding-top: 2rem;
    }
}
@media only screen and (min-width: 768px) { 
    .header {
        position: relative;
    }
    .header .header-left .header-item:first-child {
        display: block;
        font-size: 11px;
    }
    .header .header-left .header-item:first-child,
    .header .header-left .header-item:nth-child(1),
    .header .header-left .header-item:nth-child(2),
    .header .header-left .header-item:nth-child(3),
    .header .header-left .header-item:nth-child(4),
    .header .header-left .header-item:nth-child(5) {
        display: block;
        font-size: 9px;
    }
    .header .header-left .header-item {
        display: none;
    }

    .header_login > button {
        font-size: 10px;
    }

    .header-right {
        position: absolute;
        right: 0;
        size: 1px !important;
    }
    .search input[type="text"] {
        width: 100%;
    }
    .header-right .search {
        padding: 0;
    }
    .header-right .search span {
        top: 30%;
        right: 13px;
    }
    .header-right .header_login {
        top: -10%;
    }
    .header-right .header_login span {
        font-size: 11px;
    }
    .header-right .header_cart {
        top: -20%;
    }

    /* .section-1 */
    .section-1 p,
    .section-1 .marquee {
        font-size: 23px ;
    }
    /* section-2 */
    .discount-code:nth-child(2) {
        margin: 0 5px;
    }
    .discount-code {
        flex: 0 0 100%;
        width: 100%;
        margin-top: 0rem;
        overflow: hidden;
        font-size: 6.5px;
        border-top: 2px solid black;
    }
    .code_price {
        min-width: 40px;
        padding-left: 22px;
        padding-right: 20px;
        border-right: 2px solid black;
        font-size: 7px;
    }
    .code_text {
        padding-left: 10px;
    }
    .code_copy > p {
        padding: 5px 15px;
        font-size: 5px;
    }
    .round-left, .round-right {
        width: 20px;
        height: 20px;
    }
    .round-left {
        left: -0.75rem;
    }
    .round-right {
        right: -0.7rem;
    }
    .section-2 .col-md-4 {
        padding: 0;
        max-width: 32.8%;
    }


    /* footer */
    footer .footer-title {
        padding-top: 15px;
        padding-bottom: 0;
    }
    footer .content-2 .footer-contact .number {
        padding-top: 2rem;
    }
}
@media only screen and (min-width: 822px) { 
    .header .header-left .header-item:nth-child(6) {
        display: block;
        font-size: 9px;
    }
}
/* lg */
@media only screen and (min-width: 992px) { 
    .header .header-left .nav {
        display: none !important;
    }
    .header .header-left .header-item {
        font-size: 7px;
    }
    .header .header-left .header-item:nth-child(7) {
        display: block;
        font-size: 9px;

    }
    .header .header-left .header-item:nth-child(8) {
        display: block;
        font-size: 9px;
    }

    .section-1 p,
    .section-1 .marquee {
        font-size: 25px ;
    }
    /* section-2 */
    .discount-code {
        font-size: 10px;
    }
    .code_price {
        padding: 0 30px;
        font-size: 9px;
    }
    .code_copy > p {
        font-size: 7px;
    }
    .round-left, .round-right {
        width: 25px;
        height: 25px;
    }
    .round-left {
        left: -0.9rem;
    }
    .round-right {
        right: -0.8rem;
    }
    .section-2 .col-md-4 {
        padding: 0;
        max-width: calc(33.33% - 3.3px);
    }


    /* footer */
    footer .footer-title {
        padding-top: 15px;
        padding-bottom: 0;
    }
    footer .content-2 .footer-contact .number {
        padding-top: 1rem;
    }
    .footer .footer-title {
        font-size: 20px;
    }
    footer .footer-content {
        font-size: 11px;
    }
    footer .content-2 .footer-contact,
    footer .footer-content-item,
    footer .footer-bank {
        font-size: 14px;
    } 
    footer .content-1 .footer-social-network .facebook, 
    footer .content-1 .footer-social-network .instagram, 
    footer .content-1 .footer-social-network .tiktok {
        width: 40px;
        height: 40px;
    }
    footer .col-lg-4 {
        width: 25%;
    }
}
/* xl */
@media only screen and (min-width: 1200px) { 
    .header .header-left .header-item {
        font-size: 15px !important;
    }
    .header-right .search {
        top: 6% !important;
    }
    .header-right .header_login span {
        font-size: 14.5px;
    }

    .section-1 p,
    .section-1 .marquee {
        font-size: 30px ;
    }
    /* section-2 */
    .discount-code {
        font-size: 13px;
    }
    .code_price {
        padding: 0 37px;
        font-size: 13px;
    }
    .code_copy > p {
        font-size: 9.5px;
    }
    .section-2 .col-md-4 {
        padding: 0;
        max-width: calc(33.33% - 3.3px);
    }

    /* footer */
    .footer .footer-title {
        font-size: 21px;
    }
    footer .footer-content,
    footer .content-2 .footer-contact,
    footer .footer-content-item,
    footer .footer-bank {
        font-size: 18px;
    }
    footer .content-2 .footer-contact .number {
        padding-top: 2rem;
    }
    .footer .col-xl-4 {
        max-width: 25%;
    }
}

